$foreground: #c5c8c6;
$background: #232f39;
$cursorColor: #c5c8c6;

$color0: #232f39;
$color3: #9da8ab;
$color5: #b3b6c3;
$color7: #e3e9e8;

$infodark: #5fabd9;
$info: #6dc6e4;
$infolight: #a1d2e0;
$warning: #d1b09d;
$error: #d19d9d;
$success: #a1d19d;

body {
  --color-primary: #{$success};
  --color-primary-variant: #{$success};
  --color-background: #{$background};
  --color-background-inverted: #{$foreground};

  --color-background-inverted-opacity-2: #{rgba($foreground, 0.02)};
  --color-background-inverted-opacity-30: #{rgba($foreground, 0.3)};
  --color-background-inverted-opacity-50: #{rgba($foreground, 0.5)};
  --color-background-opacity-50: #{rgba($background, 0.5)};
  --color-background-opacity-80: #{rgba($background, 0.8)};
  --color-background-elevation-0: transparent;
  --color-background-elevation-1: transparent;
  --color-background-elevation-2: transparent;

  --color-background-elevation-dark-only: var(--color-background-elevation-1);
  --color-background-highlight: #{$cursorColor};
  --divider-line: var(--color-background-inverted-opacity-50);
  --color-background-hover-overlay: #{rgba($foreground, 0.1)};
  --color-selection-highlight: #{rgba($foreground, 0.2)};

  --color-selection-highlight-border: #{$warning};
  --color-match-highlight: rgb(56 121 217 / 35%);
  --color-text-primary: rgb(232 234 237);
  --color-text-secondary: rgb(154 160 166);
  --color-text-secondary-selected: rgb(188 185 182);
  --color-text-disabled: rgb(128 134 139);
  --color-details-hairline: rgb(73 76 80);
  --color-details-hairline-light: rgb(54 57 59);
  --color-accent-red: #{$warning};
  --color-red: #{$error};
  --color-accent-green: #{$success};
  --color-accent-green-background: rgb(129 201 149 / 20%);
  --color-link: var(--color-primary);
  --color-syntax-1: #{$info};
  --color-syntax-2: #{$info};
  --color-syntax-2-rgb: 93 176 215;
  --color-syntax-3: #{$warning};
  --color-syntax-4: #{$info};
  --color-syntax-5: #{$info};
  --color-syntax-6: rgb(171 171 171);
  --color-syntax-7: rgb(207 208 208);
  --color-syntax-8: #{$info};

  // Shadows
  --drop-shadow: none;
  --drop-shadow-depth-1: none;
  --drop-shadow-depth-2: none;
  --drop-shadow-depth-3: none;
  --drop-shadow-depth-4: none;
  --drop-shadow-depth-5: none;
  --box-shadow-outline-color: transparent;

  --color-scrollbar-mac: rgb(51 51 51);
  --color-scrollbar-mac-hover: rgb(75 76 79);
  --color-scrollbar-other: rgb(51 51 51);
  --color-scrollbar-other-hover: rgb(75 76 79);

  --color-error-text: #{$error};
  --color-error-border: #{$error};
  --color-error-background: #{$error};

  --color-checkbox-accent-color: #{$warning};
  --color-input-outline: rgb(60 64 67);
  --color-input-outline-active: #{$info};
  --color-input-outline-error: #{$error};
  --color-input-outline-disabled: rgba(189 193 198 / 20%);
  --color-input-text-disabled: rgba(128 134 139 / 70%);
  --color-button-outline-focus: #{$info};
  --color-button-primary-background-hovering: #{$info};
  --color-button-primary-background-pressed: #{$info};
  --color-button-primary-text: rgb(0 0 0);
  --color-button-primary-text-hover: rgb(60 61 65);
  --color-button-secondary-background-hovering: rgb(138 180 248 / 15%);
  --color-button-secondary-background-pressed: rgb(138 180 248 / 23%);
  --color-button-secondary-border: rgb(60 61 65);
  --color-iconbutton-hover: rgb(255 255 255 / 12%);
  --color-iconbutton-pressed: rgb(255 255 255 / 20%);
  --color-ic-file-document: #{$info};
  --color-ic-file-image: #{$success};
  --color-ic-file-font: #{$info};
  --color-ic-file-script: #{$warning};
  --color-ic-file-stylesheet: rgb(161 66 244);
  --color-ic-file-webbundle: rgb(128 134 139);
  --color-ic-file-default: rgb(128 134 139);
  --color-token-variable: rgb(217 217 217);
  --color-token-property: #{$warning};
  --color-token-type: var(--color-token-tag);
  --color-token-definition: var(--color-token-tag);
  --color-token-builtin: rgb(159 180 214);
  --color-token-variable-special: #{$info};
  --color-token-keyword: rgb(154 127 213);
  --color-token-string: #{$warning};
  --color-token-string-special: var(--color-token-string);
  --color-token-atom: #{$success};
  --color-token-number: var(--color-token-atom);
  --color-token-comment: var(--color-syntax-6);
  --color-token-tag: #{$info};
  --color-token-attribute: #{$info};
  --color-token-attribute-value: #{$warning};
  --color-token-meta: #{$success};
  --color-token-pseudo-element: rgb(237 119 229);
  --color-secondary-cursor: rgb(63 63 63);
  --color-line-number: rgb(138 138 138);
  --color-matching-bracket-underline: rgb(217 217 217);
  --color-matching-bracket-background: initial;
  --color-nonmatching-bracket-underline: #{$error};
  --color-nonmatching-bracket-background: initial;
  --color-editor-selection: hsl(207deg 88% 22%);
  --color-editor-selection-blurred: #454545;
  --color-trailing-whitespace: rgb(255 0 0 / 5%);
  --color-selected-option: #fff;
  --color-selected-option-background: #{$info};
  --color-highlighted-line: #{$info};
  --color-completion-hover: rgb(56 121 217 / 10%);
  --color-search-match-border: rgb(128 128 128);
  --color-selected-search-match: #eee;
  --color-selected-search-match-background: #{$success};
  --color-coverage-used: #{$info};
  --color-execution-line-background: #{$success};
  --color-execution-line-outline: #{$success};
  --color-execution-token-background: #{$success};
  --color-continue-to-location: #{$success};
  --color-continue-to-location-hover: #{$success};
  --color-continue-to-location-hover-border: #{$success};
  --color-continue-to-location-async: #{$success};
  --color-continue-to-location-async-hover: #{$success};
  --color-continue-to-location-async-hover-border: #{$success};
  --color-evaluated-expression: rgb(71 70 0 / 75%);
  --color-evaluated-expression-border: #{$warning};
  --color-variable-values: #{$error};
  --color-non-breakable-line: rgb(127 127 127 / 40%);
}
