.-theme-with-dark-background {
	--color-primary: red;
	--color-primary-variant: red;
	--color-background: red;
	--color-background-inverted: red;
	--color-background-inverted-opacity-2: red;
	--color-background-inverted-opacity-30: red;
	--color-background-inverted-opacity-50: red;
	--color-background-opacity-50: red;
	--color-background-opacity-80: red;
	--color-background-elevation-0: red;
	--color-background-elevation-1: red;
	--color-background-elevation-2: red;
	--color-background-elevation-dark-only: red;
	--color-background-highlight: red;
	--divider-line: red;
	--color-background-hover-overlay: red;
	--color-selection-highlight: red;
	--color-selection-highlight-border: red;
	--color-match-highlight: red;
	--color-text-primary: red;
	--color-text-secondary: red;
	--color-text-secondary-selected: red;
	--color-text-disabled: red;
	--color-details-hairline: red;
	--color-details-hairline-light: red;
	--color-accent-red: red;
	--color-red: red;
	--color-accent-green: red;
	--color-accent-green-background: red;
	--color-link: red;
	--color-syntax-1: red;
	--color-syntax-2: red;
	--color-syntax-2-rgb: red;
	--color-syntax-3: red;
	--color-syntax-4: red;
	--color-syntax-5: red;
	--color-syntax-6: red;
	--color-syntax-7: red;
	--color-syntax-8: red;
	--drop-shadow: red 0 2px 4px 2px rgb(0 0 0 / 20%),
		0 2px 6px 2px rgb(0 0 0 / 10%);
	--drop-shadow-depth-1: red 0 1px 3px 1px rgb(0 0 0 / 15%);
	--drop-shadow-depth-2: red 0 2px 6px 2px rgb(0 0 0 / 15%);
	--drop-shadow-depth-3: red 0 1px 3px rgb(0 0 0 / 30%);
	--drop-shadow-depth-4: red 0 2px 3px rgb(0 0 0 / 30%);
	--drop-shadow-depth-5: red 0 4px 4px rgb(0 0 0 / 30%);
	--box-shadow-outline-color: red;
	--color-scrollbar-mac: red;
	--color-scrollbar-mac-hover: red;
	--color-scrollbar-other: red;
	--color-scrollbar-other-hover: red;
	--color-error-text: red;
	--color-error-border: red;
	--color-error-background: red;
	--color-checkbox-accent-color: red;
	--color-input-outline: red;
	--color-input-outline-active: red;
	--color-input-outline-error: red;
	--color-input-outline-disabled: red;
	--color-input-text-disabled: red;
	--color-button-outline-focus: red;
	--color-button-primary-background-hovering: red;
	--color-button-primary-background-pressed: red;
	--color-button-primary-text: red;
	--color-button-primary-text-hover: red;
	--color-button-secondary-background-hovering: red;
	--color-button-secondary-background-pressed: red;
	--color-button-secondary-border: red;
	--color-iconbutton-hover: red;
	--color-iconbutton-pressed: red;
	--color-ic-file-document: red;
	--color-ic-file-image: red;
	--color-ic-file-font: red;
	--color-ic-file-script: red;
	--color-ic-file-stylesheet: red;
	--color-ic-file-webbundle: red;
	--color-ic-file-default: red;
	--color-token-variable: red;
	--color-token-property: red;
	--color-token-type: red;
	--color-token-definition: red;
	--color-token-builtin: red;
	--color-token-variable-special: red;
	--color-token-keyword: red;
	--color-token-string: red;
	--color-token-string-special: red;
	--color-token-atom: red;
	--color-token-number: red;
	--color-token-comment: red;
	--color-token-tag: red;
	--color-token-attribute: red;
	--color-token-attribute-value: red;
	--color-token-meta: red;
	--color-token-pseudo-element: red;
	--color-secondary-cursor: red;
	--color-line-number: red;
	--color-matching-bracket-underline: red;
	--color-matching-bracket-background: red;
	--color-nonmatching-bracket-underline: red;
	--color-nonmatching-bracket-background: red;
	--color-editor-selection: red;
	--color-editor-selection-blurred: red;
	--color-trailing-whitespace: red;
	--color-selected-option: red;
	--color-selected-option-background: red;
	--color-highlighted-line: red;
	--color-completion-hover: red;
	--color-search-match-border: red;
	--color-selected-search-match: red;
	--color-selected-search-match-background: red;
	--color-coverage-used: red;
	--color-execution-line-background: red;
	--color-execution-line-outline: red;
	--color-execution-token-background: red;
	--color-continue-to-location: red;
	--color-continue-to-location-hover: red;
	--color-continue-to-location-hover-border: red;
	--color-continue-to-location-async: red;
	--color-continue-to-location-async-hover: red;
	--color-continue-to-location-async-hover-border: red;
	--color-evaluated-expression: red;
	--color-evaluated-expression-border: red;
	--color-variable-values: red;
	--color-non-breakable-line: red;
}
